 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

 * {
     font-family: 'Work Sans', sans-serif;
 }

 header {
     background: rgba(255, 144, 14, 0.10);
     padding: 50px 240px;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;

 }

 nav>ul {
     display: flex;
 }

 nav li {
     list-style: none;
     margin-right: 3rem;


 }

 nav li a {
     text-decoration: none;
 }

 .banner-content {
     max-width: 800px;
     text-align: center;
     font-weight: 700;
     color: #131313;
     margin: 0px auto;
 }

 .banner-title {
     font-size: 4rem;
     font-weight: 400;

 }

 .banner-des {
     font-size: 1rem;
     font-weight: 4000;
     color: #727272;

 }

 .btn-pri {
     width: 180px;
     height: 64px;
     padding: 20px 22px;
     border-radius: 8px;
     background: #FF900E;
     color: #FFF;
     font-size: 1.25rem;
     font-weight: 600;
     border: none;

 }

 .banner-image {
     max-width: 1440px;
     max-height: 700px;
     margin: 40px auto;
 }

 /* main part */
 .main1 {
    margin: 85px 301px;
    display: flex;
    align-items: center;

}
 .images {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 25px;
     border-radius: 8px;
 }

 .write {
     margin-left: 76px;
    

 }

 .head {
     width: 468px;
     margin-bottom: 24px;
 }

 .qo {
     color: #727272;
     font-size: 45px;
 }

 .oo {
     font-size: 45px;
     color: #131313;

 }

 .fe {
     font-size: 45px;
     color: #FF900E;
 }

 .main-des {
     color: #727272;
     font-family: "Work Sans";
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     width: 537px;
     margin-bottom: 32px;

 }

 /* responsive ******************************************************************* */
 @media screen and (max-width:576px) {

    *{
        width: 576px;
    }
     header {
         padding: 20px;
     }

     nav {
         flex-direction: column;
        
     }
    
     .main{
        width: 100%;
        padding: 1px;
     }

     .banner-image {
         width: 100%;
     }

     .images {
        grid-template-columns: repeat(1,1fr);
     }

 }




 /* TABLET AND medium***************** */
 @media screen and (min-width:576px) and(max-width:960px) {

     header {
         padding: 10px;
     }

     nav {
         flex-direction: column;
     }


 }